a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}

.wrap {
    background-image: url("img/noise.png");
    background-color: #000000;
}

.square-block-unoccupied, .square-block-occupied{
  position:relative;
  overflow:hidden;
  margin:20px auto;
  }
.square-block-unoccupied a, .square-block-occupied a {
  border-radius: 20px;
  display: block;
  padding: 80px 20px;
  text-align: center;
  width
}
.square-block-occupied a{
    background-color: #2ECC71;
}
.square-block-unoccupied a:hover{
  background-color: #27AE60;
}
.ssb-icon {
  color: #fff;
  display: inline-block;
  font-size: 64px;
  margin: 0 0 20px;
}
h2.ssb-title {
  color: #fff;
  font-size: 28px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
}
.navbar-text{
font-size: 16px;
border-radius: 0px;
}
.bg-footer{
    background-color: #2f2f2f;
    color: #fff;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}